In [1]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [2]:
x = [1,2,3]
print_numbers(*x)

1
2
3

In [3]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [4]:
print_numbers(10)

10

In [5]:
print_numbers(10,20,30,40)

10
20
30
40

In [7]:
print_numbers(*[10,20,30,40])

10
20
30
40

In [8]:
def personal_info(name, age, address):
    print("이름: ", name)
    print("나이: ", age)
    print("주소: ", address)

In [10]:
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [15]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, arg, sep=' : ')

In [16]:
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

name : 홍길동
age : 30
address : 서울시 용산구 이촌동

In [17]:
korean, english, mathematics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print("높은 점수: ", max_score)

max_score = get_max_score(english, science)
print("높은 점수: ", max_score)

높은 점수:  100
높은 점수:  91

In [22]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    count = 0
    total = 0
    for kw, arg in kwargs.items():
        total += arg
        count += 1
    return total / count

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english, mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'.format(min_score, max_score, average_score))

min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'.format(min_score, max_score, average_score))

89 92 73 83
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50