In [1]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [2]:
x = [1,2,3]
print_numbers(*x)

1
2
3

In [3]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [4]:
print_numbers(10)

10

In [5]:
print_numbers(10,20,30,40)

10
20
30
40

In [7]:
print_numbers(*[10,20,30,40])

10
20
30
40

In [8]:
def personal_info(name, age, address):
    print("이름: ", name)
    print("나이: ", age)
    print("주소: ", address)

In [10]:
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [15]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, arg, sep=' : ')

In [16]:
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

name : 홍길동
age : 30
address : 서울시 용산구 이촌동