In [1]:
print(type("안녕하세요"))

<class 'str'>

In [2]:
print(type(123))

<class 'int'>

In [3]:
print("안녕하세요")

안녕하세요

In [4]:
print('안녕하세요')

안녕하세요

In [8]:
print("\"안녕하세요\"라고 말했습니다")

"안녕하세요"라고 말했습니다

In [9]:
print("안녕하세요\n안녕하세요")
print("안녕하세요\t안녕하세요")

안녕하세요
안녕하세요
안녕하세요	안녕하세요

In [10]:
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [11]:
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [13]:
print("""\
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세\
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [14]:
print("안녕"+"하세요")
print("안녕하세요"+"!")

안녕하세요
안녕하세요!

In [17]:
print("안녕하세요"+str(1))

안녕하세요1

In [18]:
print(3*"안녕하세요")

안녕하세요안녕하세요안녕하세요

In [21]:
print("문자선택 연산자")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])
#print("안녕하세요"[5])

문자선택 연산자
안
녕
하
세
요

In [22]:
print("문자선택 연산자")
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])
#print("안녕하세요"[5])

문자선택 연산자
요
세
하
녕
안

In [30]:
print("안녕하세요"[1:4])
print("안녕하세요"[1:])
print("안녕하세요"[:3])
print("안녕하세요"[3:4])
print("안녕하세요"[:2])

녕하세
녕하세요
안녕하
세
안녕

In [25]:
print(len("안녕하세요"))

5

In [31]:
print(273)
print(52.273)

273
52.273

In [32]:
print(type(52))
print(type(52.273))

<class 'int'>
<class 'float'>

In [33]:
print(0.52273e2)
print(0.52273e-2)

52.273
0.0052273

In [34]:
print(3/2)
print(3//2)

1.5
1

In [35]:
print(5%2)

1

In [36]:
print(2**1)
print(2**2)
print(2**3)
print(2**4)

2
4
8
16

In [37]:
print(2+2-2*2/2*2)
print(2-2+2/2*2+2)

0.0
4.0

In [38]:
print("안녕"+"하세요"*3)
print(("안녕"+"하세요")*3)
print("안녕"+("하세요")*3)

안녕하세요하세요하세요
안녕하세요안녕하세요안녕하세요
안녕하세요하세요하세요

In [40]:
pi = 3.14159265
pi

3.14159265

In [44]:
pi + 2

5.14159265

In [45]:
pi - 2

1.1415926500000002

In [46]:
pi * 2

6.2831853

In [48]:
pi / 2

1.570796325

In [49]:
pi % 2

1.1415926500000002

In [50]:
pi * pi

9.869604378534024

In [51]:
pi ** pi

36.46215932648077

In [52]:
pi // pi

1.0

In [55]:
number = 100
number += 10
number += 20
number += 30
print(number)

160

In [57]:
string = input("인사말을 입력하세요 > ")
print(string)

인사말을 입력하세요 > 안녕하세요
안녕하세요

In [61]:
string_a = input("입력 a > ")
int_a = int(string_a)

string_b = input("입력 b > ")
int_b = int(string_b)

print("문자열 자료: ", string_a + string_b)
print("숫자 자료: ", int_a + int_b)

입력 a > 111
입력 b > 222
문자열 자료:  111222
숫자 자료:  333

In [62]:
"{}".format(10)

'10'

In [66]:
"{} {}".format(10, 20)

'10 20'

In [67]:
"{} {} {} {} {}".format(101,202,303,404,505)

'101 202 303 404 505'

In [68]:
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공해서 첫 연봉 {}만 원 만들기".format(5000)
format_c = "{} , {} , {}".format(3000,4000,5000)
format_d = "{} | {} | {}".format(1,"문자열", True)
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공해서 첫 연봉 5000만 원 만들기
3000 , 4000 , 5000
1 | 문자열 | True

In [72]:
"{} {}".format(1,2,3,4,5)
#"{} {} {}".format(1,2) #index error

'1 2'

In [73]:
output_a = "{:d}".format(52)
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)
print(output_a)
print(output_b)
print(output_c)
print(output_d)
print(output_e)

52
   52
        52
00052
-0052

In [74]:
output_f = "{:+d}".format(52)
output_g = "{:+d}".format(-52)
output_h = "{: d}".format(52)
output_i = "{: d}".format(-52)
print(output_f)
print(output_g)
print(output_h)
print(output_i)

+52
-52
 52
-52

In [75]:
a = "Hello Python Programming...!"
a.upper()

'HELLO PYTHON PROGRAMMING...!'

In [76]:
a.lower()

'hello python programming...!'

In [78]:
input_a = """
    안녕하세요
문자열의 함수를 알아봅시다
"""
print(input_a)

    안녕하세요
문자열의 함수를 알아봅시다

In [79]:
print(input_a.strip())

안녕하세요
문자열의 함수를 알아봅시다

In [80]:
print("TrainA10".isalnum())

True

In [81]:
print("10".isdigit())

True

In [82]:
print("한글".isalpha())

True

In [83]:
print("test".isidentifier())

True

In [84]:
output_a = "안녕안녕하세요".find("안녕")
print(output_a)

0

In [85]:
output_b = "안녕안녕하세요".rfind("안녕")
print(output_b)

2

In [86]:
print("안녕" in "안녕하세요")
print("잘자" in "안녕하세요")

True
False

In [87]:
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']