In [1]:
array = [273, 32, 103, "text", True, False]
print(array)

[273, 32, 103, 'text', True, False]

In [2]:
array[0]

273

In [3]:
array[1]

32

In [4]:
array[1:3]

[32, 103]

In [6]:
array[-1]

False

In [7]:
array[3][0]

't'

In [8]:
list_a = [[1,2,3], [4,5,6], [7,8,9]]
list_a[1]

[4, 5, 6]

In [9]:
list_a[1][1]

5

In [10]:
list_a = [1,2,3]
list_a.append(4)
list_a.append(5)
print(list_a)
list_a.insert(0, 10)
print(list_a)

[1, 2, 3, 4, 5]
[10, 1, 2, 3, 4, 5]

In [11]:
list_a = [1,2,3]
list_a.extend([4,5,6])
print(list_a)

[1, 2, 3, 4, 5, 6]

In [13]:
list_a = [0,1,2,3,4,5]
del list_a[1]
print(list_a)
list_a.pop(2)
print(list_a)

[0, 2, 3, 4, 5]
[0, 2, 4, 5]

In [14]:
list_b = [0,1,2,3,4,5,6]
del list_b[3:6]
print(list_b)

[0, 1, 2, 6]

In [15]:
list_c = [0,1,2,3,4,5,6]
del list_c[:3]
print(list_c)

[3, 4, 5, 6]

In [16]:
list_d = [0,1,2,3,4,5,6]
del list_d[3:]
print(list_d)

[0, 1, 2]

In [18]:
list_c = [1,2,1,2]
list_c.remove(2)
print(list_c)

[1, 1, 2]

In [19]:
list_d = [0,1,2,3,4,5]
list_d.clear()
print(list_d)

[]

In [21]:
list_a = [273, 32, 103, 57, 52]
273 in list_a

True

In [22]:
99 in list_a

False

In [23]:
100 in list_a

False

In [24]:
52 in list_a

True

In [27]:
273 not in list_a

False

In [26]:
99 not in list_a

True

In [28]:
100 not in list_a

True

In [29]:
52 not in list_a

False

In [30]:
not 273 in list_a

False

In [31]:
for i in range(100):
    print("print")

print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print
print

In [32]:
array = [273, 32, 103, 57, 52]
for element in array:
    print(element)

273
32
103
57
52

In [33]:
for character in "안녕하세요":
     print(character)

안
녕
하
세
요

In [39]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

print("name:", dictionary["name"])
print("type:", dictionary["type"])
print("ingredient:", dictionary["ingredient"])
print("origin:", dictionary["origin"])

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

In [40]:
dictionary["name"] = "8D 건조 망고"
print("name:", dictionary["name"])

name: 8D 건조 망고

In [41]:
dictionary = {}

dictionary["name"] = "새로운 이름"
dictionary["head"] = "새로운 정신"
dictionary["body"] = "새로운 몸"

print(dictionary)

{'name': '새로운 이름', 'head': '새로운 정신', 'body': '새로운 몸'}

In [42]:
del dictionary["name"]
del dictionary["head"]
print(dictionary)

{'body': '새로운 몸'}

In [47]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

key = input("접근하고자 하는 키 : ")

if key in dictionary:
    print(dictionary[key])
else:
    print("존재하지 않음")

접근하고자 하는 키 : key
존재하지 않음

In [48]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

value = dictionary.get("존재하지 않는 키")
print(value)

if value == None:
    print("존재하지 않는 키에 접근했었습니다")

None
존재하지 않는 키에 접근했었습니다

In [50]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

for key in dictionary:
    print(dictionary[key])

7D 건조 망고
당절임
['망고', '설탕', '메타중아황산나트륨', '치자황색소']
필리핀

In [1]:
a = range(5)

In [2]:
range(0,5)

range(0, 5)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [5]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [7]:
list(range(0,10,3))

[0, 3, 6, 9]

In [10]:
a = range(0,10+1)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
n = 10
a = range(0, n/2)

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
a = range(0, int(n/2))
list(a)

[0, 1, 2, 3, 4]

In [15]:
a = range(0, n//2)
list(a)

[0, 1, 2, 3, 4]

In [16]:
print("반복변수")
for i in range(5):
    print(str(i))

print("반복변수")
for i in range(5,10):
    print(str(i))
    
print("반복변수")
for i in range(0,10,3):
    print(str(i))

반복변수
0
1
2
3
4
반복변수
5
6
7
8
9
반복변수
0
3
6
9

In [17]:
array = [273,32,103,57,52]
for element in array:
    print(element)

273
32
103
57
52

In [18]:
for i in range(len(array)):
    print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

In [20]:
for i in range(4,-1, -1):
    print("현재 반복변수 : {}".format(i))

현재 반복변수 : 4
현재 반복변수 : 3
현재 반복변수 : 2
현재 반복변수 : 1
현재 반복변수 : 0

In [21]:
for i in reversed(range(5)):
    print("현재 반복 변수 : {}".format(i))

현재 반복 변수 : 4
현재 반복 변수 : 3
현재 반복 변수 : 2
현재 반복 변수 : 1
현재 반복 변수 : 0

In [22]:
#while True:
#    print(".", end="")

In [23]:
i = 0 
while i < 10:
    print("{}번째 반복입니다.".format(i))
    i += 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [3]:
list_test = [1,2,1,2]
value = 2
while value in list_test:
    list_test.remove(value)
    
print(list_test)

[1, 1]

In [4]:
import time
time.time()

1630306434.700352

In [5]:
import time
number = 0
target_tick = time.time() + 5
while time.time() < target_tick:
    number += 1
    
print("5초 동안 {}번 반복했습니다.".format(number))

5초 동안 13490101번 반복했습니다.

In [6]:
i = 0
while True:
    print("{}번째 반복문입니다.".format(i))
    i += 1
    input_text = input("> 종료하시겠습니까? (y/n): ")
    if input_text in ["y", "Y"]:
        print("반복을 종료합니다")
        break

0번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
1번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
2번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
3번째 반복문입니다.
> 종료하시겠습니까? (y/n): nnn
4번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
5번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
6번째 반복문입니다.
> 종료하시겠습니까? (y/n): nn
7번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
8번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
9번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
10번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
11번째 반복문입니다.
> 종료하시겠습니까? (y/n): n
12번째 반복문입니다.
> 종료하시겠습니까? (y/n): ny
13번째 반복문입니다.
> 종료하시겠습니까? (y/n): y
반복을 종료합니다

In [7]:
numbers = [5,16,6,20,7,25]

for number in numbers:
    if number < 10:
        continue
    print(number)

16
20
25

In [9]:
numbers = [103, 52, 273, 32, 77]
min(numbers)

32

In [10]:
max(numbers)

273

In [11]:
sum(numbers)

537

In [12]:
list_a = [1,2,3,4,5]
list_reversed = reversed(list_a)

print(list_reversed)
print(list(list_reversed))

<list_reverseiterator object at 0x7fc8f4e42390>
[5, 4, 3, 2, 1]

In [13]:
for i in reversed(list_a):
    print("-", i)

- 5
- 4
- 3
- 2
- 1

In [16]:
temp = reversed([1,2,3,4,5,6])

for i in temp:
    print("first try : {}".format(i))
    
for i in temp:
    print("second try : {}".format(i))

first try : 6
first try : 5
first try : 4
first try : 3
first try : 2
first try : 1

In [18]:
example_list = ["요소A", "요소B", "요소C"]

print(example_list)
print(enumerate(example_list))
print(list(enumerate(example_list)))

for i, value in enumerate(example_list):
    print("{}번째 요소는 {}입니다.".format(i, value))

['요소A', '요소B', '요소C']
<enumerate object at 0x7fc8f4e3d2d0>
[(0, '요소A'), (1, '요소B'), (2, '요소C')]
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [19]:
example_dictionary = {
    "키A" : "값A",
    "키B" : "값B",
    "키C" : "값C"
}

print("items():", example_dictionary.items())

for key, element in example_dictionary.items():
    print("dictionary[{}] = {}".format(key, element))

items(): dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C