In [2]:
class Student:
    pass

student = Student()

students = [
    Student(),
    Student(),
    Student(),
    Student(),
    Student(),
    Student()
]

In [4]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

students = [
    Student("학생1",87,98,88,95),
    Student("학생2",2,5,100,4),
    Student("학생3",92,98,100,100),
    Student("학생4",88,67,65,56),
    Student("학생5",12,23,22,26),
    Student("학생6",90,91,89,87)
]

print("{} : 국어 {}점, 수학 {}점, 영어 {}점, 과학 {}점".format(
    students[0].name, 
    students[0].korean, 
    students[0].math, 
    students[0].english,
    students[0].science
))

학생1 : 국어 87점, 수학 98점, 영어 88점, 과학 95점

In [6]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum()/4
    
    def to_string(self):
        return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_average())
    
students = [
    Student("학생1",87,98,88,95),
    Student("학생2",2,5,100,4),
    Student("학생3",92,98,100,100),
    Student("학생4",88,67,65,56),
    Student("학생5",12,23,22,26),
    Student("학생6",90,91,89,87)
]

print("이름\t총점\t평균")
for student in students:
    print(student.to_string())

이름	총점	평균
학생1	368	92.0
학생2	111	27.75
학생3	390	97.5
학생4	276	69.0
학생5	83	20.75
학생6	357	89.25